<html>

<head>
    <title>Index</title>
</head>
<body>
<a class="dropdown-item" href="/articulo/create">Crear</a>
<a class="dropdown-item" href="/articulo/read">Leer Datos</a>
<a class="dropdown-item" href="/articulo/update">Actualizar</a>
<a class="dropdown-item" href="/articulo/delete">Eliminar</a>


</body> 
</html>