<html>

<head>
    <title>actualizar articulo</title>

    <head>
        <!-- Mobile Specific Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Favicon-->
        <link rel="shortcut icon" href="/img/fav.png">
        <!-- Author Meta -->
        <meta name="author" content="CodePixar">
        <!-- Meta Description -->
        <meta name="description" content="">
        <!-- Meta Keyword -->
        <meta name="keywords" content="">
        <!-- meta character set -->
        <meta charset="UTF-8">
        <!-- Site Title -->
        <title>LHO | Consultores</title>

        <link href="https://fonts.googleapis.com/css?family=Poppins:300,500,600" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Oswald:300,400" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Hind:300|Lora:400,700|Roboto+Condensed:300" rel="stylesheet">
        <!--
                    CSS
                    ============================================= -->
        <link rel="stylesheet" href="/css/linearicons.css">
        <link rel="stylesheet" href="/css/owl.carousel.css">
        <link rel="stylesheet" href="/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/animate.css">
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/main.css">
    </head>
</head>

<body>

    <div id="top"></div>
    <!-- Start Header Area -->
    <header class="default-header2">
        <div class="sticky2-header">
            <div class="container">
                <div class="header-content d-flex justify-content-between align-items-center">
                    <div class="logo">
                        <a href="#top" class="smooth">
                            <img src="/img/logo.png" alt="">
                        </a>
                    </div>
                    <div class="right-bar d-flex align-items-center">
                        <nav class="d-flex align-items-center">
                            <ul class="main-menu">
                                <li>
                                    <a href="#top">Inicio</a>
                                </li>
                                <li>
                                    <a href="#about">Firma</a>
                                </li>
                                <li>
                                    <a href="#services">Áreas de Práctica</a>
                                </li>
                                <li>
                                    <a href="#career">Carrera</a>
                                </li>
                                <li>
                                    <a href="#blog">Prensa</a>
                                </li>
                                <li>
                                    <a href="#contact">Contacto</a>
                                </li>
                            </ul>
                            <a href="#" class="mobile-btn">
                                <span class="lnr lnr-menu"></span>
                            </a>
                        </nav>
                        <div class="search relative">
                            <span class="lnr lnr-magnifier"></span>
                            <form action="#" class="search-field">
                                <input type="text" placeholder="Buscar en sitio" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Buscar en sitio'">
                                <button class="search-submit">
                                    <span class="lnr lnr-magnifier"></span>
                                </button>
                            </form>
                        </div>
                        <div class="header-social d-flex align-items-center">
                            <a href="#">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-linkedin"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-youtube-play"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>



    <div class="container form-control">
        <form action="save/<%= articulo._id %>" method="POST">
            <div class="container col-5 p-3">
                <div class="container">
                    <h1 class="text-center p-5 title">Actualizar articulo</h1>
                </div>
                <div class="container col-5 p-3">
                    <p>Título</p>
                    <input type="text" maxlength="55" name="titulo" value=<%=articulo.titulo %>>

                    <p>introduccion</p>
                    <input type="text" maxlength="33" name="introduccion" value=<%=articulo.introduccion %>>

                </div>

    <!-- Include CSS for icons. -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"
    />

    <!-- Include Editor style. -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css"
    />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1/css/froala_style.min.css" rel="stylesheet" type="text/css"
    />

    <!-- Create a tag that we will use as the editable area. -->
    <!-- You can use a div tag as well. -->
   <center> <p>Descripción del articulo, por favor escribe en el campo de abajo</p>
<div> <%-articulo.ruta-%></div></center>
    <textarea name="ruta" id="myEditor">
            
    </textarea>

    <script src='../langs/es.js'></script>
    <!-- Include jQuery lib. -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include Editor JS files. -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1//js/froala_editor.pkgd.min.js"></script>
    <!-- Initialize the editor. -->
    <script>
        $(function () {
            $('textarea').froalaEditor('html.get',true);
            });

            
      //  $('div#froala-editor').froalaEditor('html.get');
    </script>
</div>

<div class="container p-5 text-center">
        <button type="submit" class="btn btn-success">Actualizar Articulo</button>
        </div>
</form>

<script>
$(function () {
    $('#myEditor').froalaEditor({ toolbarInline: false })
});
</script>


</body>

</html>